<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera</title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>

<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Hello, Welcome 😊</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="#">Train</a></li>
            <li><a href="face_test.html">Test</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="card center">
        <div class="card-content">
            <div class="card-action">
                <button onclick="startWebcam();">Start Camera</button>
                <button onclick="snapshot();">Take Picture</button>
            </div>
            <div class="input-field col s6">
                <input placeholder="Enter Name" type="text" class="validate" id="ip">
            </div>

            <!--<div>-->
            <!--<video onclick="snapshot(this)" id="video" width="400" height="300" controls autoplay></video>-->
            <!--<canvas  id="myCanvas" width="400" height="300"></canvas>-->

            <!--</div>-->
            <p>
                <video onclick="snapshot(this);" width=300 height=300 id="video" controls autoplay></video>
                <br>
                <canvas  id="myCanvas" width="300" height="220"></canvas>
            </p>
        </div>
    </div>
</div>
</body>
<script src="js/face_train.js"></script>
</html>

<!--<audio id="myAudio">-->
<!--<source src="success.wav" type="audio/wav">-->
<!--</audio>-->