

* {
    /* depending on your browser (Chrome,IE,..) user-agent styling can be different*/
    /* so remove margins and padding on all elements */
    margin: 0;
    padding: 0 ;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#card-outside{
    height: 100vh;
    padding: 15%;
    padding-top: 50px; padding-bottom: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#card-inside{
    background-color: #F9F5F7;
    height: 70vh;
    width: 70vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius:12px
}

#submit {
    font-size: 20px;
    font-family: Helvetica, Arial;
    background-color: #d1c0bf;
    box-shadow: 5px 5px #e7d6d5;
    padding: 15px;
    border-radius: 4px;
    width:100%;
}

