* {
    /* depending on your browser (Chrome,IE,..) user-agent styling can be different*/
    /* so remove margins and padding on all elements */
    margin: 0;
    padding: 0 ;



}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;

    text-align:center;
    margin: 20px 0 20px 0;
}
p{
    font-size:12px;
    text-decoration: none;
    color:black;
}

h1{
    font-size:2.0em;
    color:black;
    margin: 50px 10px;
}

.box{
    background: whitesmoke;
    width:300px;
    margin: 0 auto 0 auto;
    padding:100px 10px 80px 10px;

}

.email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
}

.password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
}

.btn{
    background:grey;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;

    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
}



#btn2{
    float:left;
    background:grey;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;

    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
}
.btn:hover{
    background:red;
}
#btn2:hover{
    background:red;
}