.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
}

.btn-group-vertical > .btn-group:not(:last-child) > .btn, .btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle) {
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue";
}
.title_registration{

    text-align: center;
    align-items: center;
}
.btn-resident {
    border:none;
    height:11vh;
    background-color:#009489;
}

.btn-resident:hover{
    background-color: #1DA9A1;
}

.btn-active{
    background-color: #1DA9A1;
}



.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color:#f9f9f9;
    color: #3c3535;
}

.nav-tabs .nav-link {
    background-color:#F2F2F2;
    color: #211e1e;
    font-family: "Helvetica Neue";
    font-weight: 100;
}

.nav{
    box-shadow: 0 10px 5px -5px #f9f9f9;
    position: relative;
    z-index: 5;
}

.questionnaire-card {
      margin-bottom:4%;
      box-shadow:1px 1px 7px lightgrey;
}
.register-card {
    margin: 4%;
    box-shadow:1px 1px 7px lightgrey;

    transition: transform 1s;
    transform-style: preserve-3d;

}
.front{
    backface-visibility: hidden;
}
.face.backface{
    transform: rotateY(180deg);
}



.notes-content {
      text-align:left;
      max-height: 50vh;
      overflow-y:scroll;
}

.note-box{
      background-color:#E6F0BE;
      margin-bottom: 10px;
      border-radius: 5px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
}


.note-heading{
      text-align: left;
      margin-bottom: 1px;
    font-size: 15px;

}

.note-timestamp{
    float: right;
    color: grey;
    font-size: 10px;
}

.resident-button{
    text-allign: left;
    float:left;
    font-size:22px;

}

.profilePic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px;
}

.resident-nameage{
    margin-left: 20px;
    text-align: left;
    float: right;
    font-family: "Avenir Next Condensed";
    font-weight: 100;
}

.button-age{
    margin:-5px;
    padding:1px;
}

.button-name{
    margin:-5px;
    padding: 1px;

}

.card-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card-name{
    margin-left: 20px;
    text-align: left;
    float: right;
    font-family: "Avenir Next Condensed";
    color: grey;
}

.card-text{
    text-align: right;
    font-size: 15px;
}

.card-head{
    text-allign: left;
    float:left;
    font-size:22px;
}

.card-head-active{
    border-bottom: none;
}

.notes-card {
      background:transparent;
      border:none;
}

.notes-card-head {
    background-color:transparent;
    border-color:#E6F0BE;
    margin-left:5%;
    margin-right:5%;
    padding-right:1px;
}

btn-notes {
    color:grey;
}

.btn-notes {
    color:#222513;
}

.btn-resident .active {
    background-color:black;
}

.floornumber{
    text-align:left;
    color:white;
    font-family: "Avenir Next Condensed";

    font-weight: 100;
    font-size: 45px;
}

.notes-title{
    text-align:left;
    font-family: "Avenir Next Condensed";
    font-weight: 400;
    font-size: 30px;

}

.personal_text{
     font-family: "Avenir Next Condensed";
     font-weight: 400;
     font-size: 30px;
 }

.personal_text_2{
    font-family: "Avenir Next Condensed";
    font-weight: 400;
    font-size: 20px;
}

tab-content{
    position: relative;
    z-index: -1;
}

.searchbar{
    width:100%;
    height:40px;
    border-radius: 5px;
    border:none;
    padding-left:10px;
}

.searchbar:hover{
    box-shadow: 2px 2px 10px #606060;
}

.fa-caret-left{
    color: #E6F0BE;
    transform: rotate(0deg);
    transition: all linear 0.25s;
}

.activefa{
    transform: rotate(-90deg);
    transition: all linear 0.25s;
}

.dropdown-toggle{
    background-color: #1DA9A1;
    border: none;
    margin-bottom: 10px;

}

.hiddendiv{
    display:none
}





