html,
body {
    height: 100%;
    background-color: #F9F5F7;
    /*FFF0D1*/
}

head{
    align-items: center;
}
body {
    height: 100%;
    font-family: Helvetica,Arial;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.h1{
    color: #282828;
    text-align: center;
}
.h2{
    color: #282828;
    text-align: center;
}
.card{
    background-color: #F9F5F7;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius:15px;
    box-shadow: 10px 10px #eae6e8;
}
.button1
{
    display: block;
    padding: 10px 20px; /*make button bigger than text*/
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #282828;
    background-color: #F9F5F7;
    border-radius: 15px;
    border-color: rgba(88, 88, 88, 0.44);
    box-shadow: 5px 5px #eae6e8;

}
.button1:active { /* to show button being pressed*/
    background-color: grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button2
{
    display: block;
    height: 100px;
    width:100%;
    font-size: 20px;
    text-align: center;
    color: #282828;
    background-color: #F9F5F7;
    border-radius: 15px;
    border-color: rgba(88, 88, 88, 0.44);
    box-shadow: 5px 5px #eae6e8;

}
.button2:active { /* to show button being pressed*/
    background-color: grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.image1
{
    width:70px;
    height:70px;
    display: inline-block;
    position: relative;


}
.image2
{
    width:90px;
    height:50px;
    display: inline-block;
    position: relative;

}
.image3
{
    width:140px;
    height:35px;
    display: inline-block;
    position: relative;

}
.link1{
    color: whitesmoke;
}
footer{
    font-family: Helvetica,Arial;
    /*make it stand at the bottom at all times */
    position: absolute;
    bottom: 0;
    padding: 1rem;
    text-align: center;
}