html,
body {
    height: 100%;
}
body {
    height: 100%;
    font-family: Helvetica,Arial;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}

.button1{
    background-color: #D65637;
    border:none;
    font-size:30pt;
    border-radius: 10px;
    width:100%;
    color:whitesmoke;
    box-shadow: 0px 3px 0px 0px rgba(168,149,142,1);
}


.container_box{
    width: 60% ;
    background-color: #F9F5F7/*fff6e0*/;
    box-shadow: 0px 3px 0px 0px rgba(168,149,142,1);
    opacity: 0.95;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius:12px
}

