:root {
    --colorInsideCard: #ECEAE0;
    --colorOutsideOfCard: #221E1D;
    --shadeOfBlack: #2F3335;
    --shadeOfWhite: #FFFFFF;
    --buttonColor: #E9633B;
}

* {
    /* depending on your browser (Chrome,IE,..) user-agent styling can be different*/
    /* so remove margins and padding on all elements */
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#card{
    background-color: var(--colorInsideCard);
    height: 90vh;
}

#card_menu{
    background-color: var(--colorInsideCard);
    height: 15vh;
}

#second_row_m, #third_row_m, #fourth_row_m, #fifth_row_m{
    margin-top: 4vh; /*delete this line to make it seem like one big card */
    display: flex;
    align-items: center;
    margin-left: 0.2%;
}

#top_row_m{
    display: flex;
    align-items: center;
    margin-left: 0.2%;
}

#bigtest{
    display: flex;
    align-content: center;
}

.container-fluid{
    background-color: var( --colorOutsideOfCard);
    height: 100vh;
    padding: 3%;
}

#title {
    font-size: 80px;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--shadeOfBlack);
    margin-left: 2%;
}

#menu_text{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--shadeOfBlack);
    padding: 2.5vh; /*not good when screen gets smaller*/
}

#text, #text_question, #text_1, #text_2 {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    font-family: Canapé, Palanquin, serif;
    color: var(--shadeOfBlack);
    margin-left: 2%;
}

#text{
    text-align: center;
}


#text_question{
    margin-top: 40px;
}

#category {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    font-family: Canapé, Palanquin, "Times New Roman", serif;
    color: var(--shadeOfBlack);
    margin-left: 2%;
}

#button{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-content: center;
    text-align: center;
    border: thin solid var(--shadeOfBlack);
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--buttonColor);
}

#menu_button{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    border: thin solid var(--shadeOfBlack);
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--buttonColor);
    min-width: 50vw;
}

.button_done{
    margin-left: 2%;
}

.test{
    var(--shadeOfBlack);
}

#quit{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    border: thin solid var(--shadeOfBlack);
    border-radius: 15px;
    padding: 10px 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--shadeOfBlack);
    background-color: var(--buttonColor);
}

#quit_icon, #logout_icon, #menu_icon{
    width: 64px;
    height: 64px;
    position: relative;
    left: 1vw;
}

#quit_text, #logout_text{
    text-align: center;
    color: var(--shadeOfBlack);
}

.answer_button{
    font-size: 5vh;
    display: flex;
    flex-direction: column;
    border: thin solid var(--shadeOfBlack);
    border-radius: 15px;
    padding: 2vw 4vh;
    width: 15vw;
    /*width:200px; */
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 5%;
    background-color: var(--buttonColor);
}

#button_div{
    text-align:center;
    margin:auto;
    align-content: center;
    display: flex;
    justify-content: center;
    color: var(--shadeOfBlack);
}

#progress{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    font-family: Canapé, Palanquin, "Times New Roman", serif;
    margin-top: 7%;
    align-items: center;
    color: var(--shadeOfBlack);
}

#return{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    font-family: Canapé, Palanquin, "Times New Roman", serif;
    margin-left: 2%;
    position: fixed;
    bottom: 5vh;
}


footer{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}