body{
    height: 100vh;
    /*background: #ebf1fa; !* Old browsers *!*/
    /*background: -moz-linear-gradient(top,  #ebf1fa 50.9%, #ffffff 51%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top,  #ebf1fa 50.9%,#ffffff 51%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom,  #ebf1fa 50.9%,#ffffff 51%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1fa', endColorstr='#ffffff',GradientType=0 ); !* IE6-9 *!*/
    font-family: "Avenir Next Condensed";
}

.header{
    height:10vh;
    background-color: #7386AC;
}

.header-title{
    color:whitesmoke;
    padding:2vh;
    font-size:20pt;
    font-weight:100;
}

.header-button{
    padding:2vh;
    text-align: right;
    color:whitesmoke;
    font-size:20pt;
    font-weight:100;
    background-color:#7386AC;
}

.button_back{
    color:whitesmoke;
    font-size:20pt;
    font-weight:100;
}

.question-row{
    height:35vh;
}
.end-row{
    height:25vh;
}

.question{
    background: #ebf1fa;
    padding-top:50px;
    font-size: 35pt;
    text-align: center;
    font-family: "Helvetica Neue";
    color: #2A383D;
}
.info{
    background: #ebf1fa;
    font-size: 35pt;
    text-align: center;
    font-family: "Helvetica Neue";
    color: #2A383D;
}


.button-row{
    background: #ebf1fa; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebf1fa 50.9%, #ffffff 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ebf1fa 50.9%,#ffffff 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ebf1fa 50.9%,#ffffff 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1fa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.button_selected{
    background-color: #7386AC;
    border:none;
    font-size:38pt;
    border-radius: 10px;
    width:100%;
    color:whitesmoke;
    box-shadow: 0px 3px 0px 0px rgba(168,149,142,1);
}

.button_menu{
    background-color: #D65637;
    border:none;
    font-size:38pt;
    border-radius: 10px;
    width:100%;
    color:whitesmoke;
    box-shadow: 0px 3px 0px 0px rgba(168,149,142,1);

}

.button_menu:hover{
    background-color: #EF7046;
}

.progress-row{
    padding-top:15vh;
    padding-left:5vh;
    padding-right:5vh;
    margin-bottom:10vh;
    text-align: center;
}

.progress-border{
    padding:0px;
    background-color: #EBF1FA;
    height:18px;
}

.progress-bar{
    background-color: #7386AC;
    height:18px;
    margin-bottom:10px;
}

.button-previous{
    color: #7387AC;
    border-color: #7387AC;
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding:0px;
    text-align: center;
    font-size: 20pt;
    width:100%;
}

.button-hidden{
    display: none;
}

.menu_container{
    height:100vh;
    background: #ebf1fa; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebf1fa 40%,#ebf1fa 45%,#ffffff 50%,#ffffff 55%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ebf1fa 40%,#ebf1fa 45%,#ffffff 50%,#ffffff 55%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ebf1fa 40%,#ebf1fa 45%,#ffffff 50%,#ffffff 55%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1fa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.button-logout{
    margin-top:5vh;
    margin-bottom:10vh;
    border:none;
    border-radius:10px;
    padding:1vh;
    height:6vh;
    width:100%;
    font-size: 15pt;
    background-color: #7386AC;
    box-shadow: 0px 3px 0px 0px rgb(139, 154, 168);
    color:whitesmoke;
}

.button_margin{
    margin-bottom: 3vh;
}

.button-box{
    border-radius: 10px;
    padding-top: 5vh;
    padding-bottom:5vh;
    box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.1);
    background: #ffffff;
}

.button-icon{
    text-align: right;
    padding-right:0px;
    padding-top:12pt;
}
.image1
{
    width:70px;
    height:70px;
    display: inline-block;
    position: relative;


}
.image2
{
    width:90px;
    height:50px;
    display: inline-block;
    position: relative;

}
.image3
{
    width:140px;
    height:35px;
    display: inline-block;
    position: relative;

}